*{
    margin: 0px;
    padding: 0px;
}

#display{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 150px;
    
}

#buttn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    
    
}

#buttn button{

    margin-top: 20px;
    margin-right: 5px;
    padding: 15px 25px;
    background-color: rgb(147, 147, 212);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    /* padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
}

#laps li{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 50px;
}